body {
  background-color: #3fd1c5;
  font-family: 'Jost', sans-serif;
}

section {
  max-width:800px;
  margin: auto;
  border-top: 20px #3fd1c5;
  overflow: auto;
  color: black;
  background: #fff;
}

hr {
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #3fd1c5, white);
}

.title {
  color: #3fd1ca;
  font-size: 2.5rem;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border-top: 5px solid black;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}