body {
    background-color: #3fd1c5;
    font-family: 'Jost', sans-serif;
}

section {
    max-width:800px;
    margin: auto;
    border-top: 20px #3fd1c5;
    overflow: auto;
    color: black;
    background: #fff;
  }

hr.line {
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #3fd1c5, white);
}
  
.title {
    color: #3fd1ca;
    font-size: 2.5rem;
  }

  p{
    text-indent: 50px;
  }

.selfie {
    float: left;
}