* {
  box-sizing: border-box;
}

body {
  background-color: #3fd1c5;
  font-family: 'Jost', sans-serif;
}

section {
  max-width:800px;
  margin: auto;
  overflow: auto;
  color: black;
  background: #fff;
}

.title {
  color: #3fd1ca;
  font-size: 2.5rem;
}

hr {
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #3fd1c5, white);
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -24px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border-top: 5px solid black;
  color: black;
}